In [1]:
import pandas as pd

In [2]:
data = {'Estado': ['Baja_California', 'Guanajuato', 'E_Mexico', 
                   'CDMX', 'Yucatan'],
        'Mujeres': [291, 568, 490, 107, 7],
        'Hombres': [2279, 3408, 2725, 635, 47]}

In [4]:
frame = pd.DataFrame(data)

In [5]:
frame

            Estado  Mujeres  Hombres
0  Baja_California      291     2279
1       Guanajuato      568     3408
2         E_Mexico      490     2725
3             CDMX      107      635
4          Yucatan        7       47

Las columnas se pueden modificar por asignaci√≥n.

In [6]:
frame['num'] = 23

Cuando se asignan istas o arrays a una columna, la longitud del valor debe coincidir con el dataframe.

In [9]:
frame['Region'] = ['Noroeste','Noreste','Occidente',
                   'Centro-Sur','Sureste']

In [10]:
frame

            Estado  Mujeres  Hombres  num      Region
0  Baja_California      291     2279   23    Noroeste
1       Guanajuato      568     3408   23     Noreste
2         E_Mexico      490     2725   23   Occidente
3             CDMX      107      635   23  Centro-Sur
4          Yucatan        7       47   23     Sureste

In [11]:
frame['suma']=frame['Mujeres']+frame['num']

In [12]:
frame

            Estado  Mujeres  Hombres  num      Region  suma
0  Baja_California      291     2279   23    Noroeste   314
1       Guanajuato      568     3408   23     Noreste   591
2         E_Mexico      490     2725   23   Occidente   513
3             CDMX      107      635   23  Centro-Sur   130
4          Yucatan        7       47   23     Sureste    30

La palabra clave **del** borrar√° columnas, como con un diccionario.

In [13]:
del frame['num']

In [14]:
frame

            Estado  Mujeres  Hombres      Region  suma
0  Baja_California      291     2279    Noroeste   314
1       Guanajuato      568     3408     Noreste   591
2         E_Mexico      490     2725   Occidente   513
3             CDMX      107      635  Centro-Sur   130
4          Yucatan        7       47     Sureste    30

Otra forma habitual de datos es un diccionario anidado de diccionarios:

In [15]:
poblacion_m = {'Hidalgo': {2000:1153598,2010:1379796,2020:1601462},
            'Michoacan':{2000:2074589,2010:2248928,2020:2442505},
            'Chiapas':{2000:1979012,2010:2443773,2020:2837881},
            'CDMX':{2000:4494754,2010:4617297,2020:4805017}}

In [16]:
poblacion_m

{'Hidalgo': {2000: 1153598, 2010: 1379796, 2020: 1601462},
 'Michoacan': {2000: 2074589, 2010: 2248928, 2020: 2442505},
 'Chiapas': {2000: 1979012, 2010: 2443773, 2020: 2837881},
 'CDMX': {2000: 4494754, 2010: 4617297, 2020: 4805017}}

In [17]:
frame_p = pd.DataFrame(poblacion_m)

In [18]:
frame_p

      Hidalgo  Michoacan  Chiapas     CDMX
2000  1153598    2074589  1979012  4494754
2010  1379796    2248928  2443773  4617297
2020  1601462    2442505  2837881  4805017

Es posible transponer el dataframe (intercambiar filas y columnas) con una sintaxis similar a la de un array NumPy:

In [19]:
frame_p.T

              2000     2010     2020
Hidalgo    1153598  1379796  1601462
Michoacan  2074589  2248928  2442505
Chiapas    1979012  2443773  2837881
CDMX       4494754  4617297  4805017

Las claves de los diccionarios internos se combinan para formar el √≠ndice del resultado. Esto no aplica si se especifica un √≠ndice expl√≠cito:

In [22]:
pd.DataFrame(frame_p, index=[2010, 2010, 2020])

      Hidalgo  Michoacan  Chiapas     CDMX
2010  1379796    2248928  2443773  4617297
2010  1379796    2248928  2443773  4617297
2020  1601462    2442505  2837881  4805017

In [24]:
df = pd.read_csv('homicidios_2022.csv')

In [25]:
df

,Estado,Abreviatura,Regiones,Mujeres,Hombres,No_esp,Total
0,Aguascalientes,AG,Noreste,13,73,1,87
1,Baja California,BC,Noroeste,291,2279,111,2681
2,Baja California Sur,BS,Noroeste,15,74,0,89
3,Campeche,CM,Sureste,13,95,2,110
4,Coahuila de Zaragoza,CO,Noreste,26,143,0,169
5,Colima,CL,Occidente,110,755,2,867
6,Chiapas,CS,Sureste,65,432,2,499
7,Chihuahua,CH,Noroeste,237,1776,3,2016
8,CDMX,CX,Centro-Sur,107,635,0,742
9,Durango,DG,Noroeste,25,100,0,125
10,Guanajuato,GT,Noreste,568,3408,280,4256
11,Guerrero,GR,Centro-Sur,133,1226,19,1378
12,Hidalgo,HG,Occidente,57,314,9,380
13,Jalisco,JC,Noroeste,203,1639,3,1845
14,Mexico,EM,Occidente,490,2725,11,3226
15,Michoacan,MI,Occidente,241,2044,7,2292
16,Morelos,MO,Centro-Sur,109,1040,0,1149
17,Nayarit,NaN,Noroeste,16,169,1,186
18,Nuevo Leon,NL,Noreste,150,1240,1,1391
19,Oaxaca,OA,Sureste,114,626,0,740
20,Puebla,PU,Centro-Sur,123,923,15,1061
21,Queretaro,QT,Noreste,26,161,0,187
22,Quintana Roo,QR,Sureste,62,573,0,635
23,San Luis Potosi,SL,Noreste,62,687,2,751
24,Sinaloa,SI,Noroeste,37,515,6,558
25,Sonora,SO,Noroeste,142,1521,60,1723
26,Tabasco,TB,Sureste,42,292,0,334
27,Tamaulipas,TM,Noreste,53,373,41,467
28,Tlaxcala,TL,Centro-Sur,14,138,0,152
29,Veracruz,VE,Sureste,86,555,0,641
30,Yucatan,YU,Sureste,7,47,0,54
31,Zacatecas,ZA,Noreste,163,1261,8,1432

In [7]:
df

,Estado,Abreviatura,Regiones,Mujeres,Hombres,No_esp,Total
0,Aguascalientes,AG,Noreste,13,73,1,87
1,Baja California,BC,Noroeste,291,2279,111,2681
2,Baja California Sur,BS,Noroeste,15,74,0,89
3,Campeche,CM,Sureste,13,95,2,110
4,Coahuila de Zaragoza,CO,Noreste,26,143,0,169
5,Colima,CL,Occidente,110,755,2,867
6,Chiapas,CS,Sureste,65,432,2,499
7,Chihuahua,CH,Noroeste,237,1776,3,2016
8,CDMX,CX,Centro-Sur,107,635,0,742
9,Durango,DG,Noroeste,25,100,0,125
10,Guanajuato,GT,Noreste,568,3408,280,4256
11,Guerrero,GR,Centro-Sur,133,1226,19,1378
12,Hidalgo,HG,Occidente,57,314,9,380
13,Jalisco,JC,Noroeste,203,1639,3,1845
14,Mexico,EM,Occidente,490,2725,11,3226
15,Michoacan,MI,Occidente,241,2044,7,2292
16,Morelos,MO,Centro-Sur,109,1040,0,1149
17,Nayarit,NaN,Noroeste,16,169,1,186
18,Nuevo Leon,NL,Noreste,150,1240,1,1391
19,Oaxaca,OA,Sureste,114,626,0,740
20,Puebla,PU,Centro-Sur,123,923,15,1061
21,Queretaro,QT,Noreste,26,161,0,187
22,Quintana Roo,QR,Sureste,62,573,0,635
23,San Luis Potosi,SL,Noreste,62,687,2,751
24,Sinaloa,SI,Noroeste,37,515,6,558
25,Sonora,SO,Noroeste,142,1521,60,1723
26,Tabasco,TB,Sureste,42,292,0,334
27,Tamaulipas,TM,Noreste,53,373,41,467
28,Tlaxcala,TL,Centro-Sur,14,138,0,152
29,Veracruz,VE,Sureste,86,555,0,641
30,Yucatan,YU,Sureste,7,47,0,54
31,Zacatecas,ZA,Noreste,163,1261,8,1432

In [27]:
df.iloc[10:25]

              Estado Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
10        Guanajuato          GT     Noreste      568     3408     280   4256
11          Guerrero          GR  Centro-Sur      133     1226      19   1378
12           Hidalgo          HG   Occidente       57      314       9    380
13           Jalisco          JC    Noroeste      203     1639       3   1845
14            Mexico          EM   Occidente      490     2725      11   3226
15         Michoacan          MI   Occidente      241     2044       7   2292
16           Morelos          MO  Centro-Sur      109     1040       0   1149
17           Nayarit         NaN    Noroeste       16      169       1    186
18        Nuevo Leon          NL     Noreste      150     1240       1   1391
19            Oaxaca          OA     Sureste      114      626       0    740
20            Puebla          PU  Centro-Sur      123      923      15   1061
21         Queretaro          QT     Noreste       26      161       0    187
22      Quintana Roo          QR     Sureste       62      573       0    635
23   San Luis Potosi          SL     Noreste       62      687       2    751
24           Sinaloa          SI    Noroeste       37      515       6    558

In [35]:
df1=df.iloc[9:15]

In [36]:
df1

         Estado Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
9       Durango          DG    Noroeste       25      100       0    125
10   Guanajuato          GT     Noreste      568     3408     280   4256
11     Guerrero          GR  Centro-Sur      133     1226      19   1378
12      Hidalgo          HG   Occidente       57      314       9    380
13      Jalisco          JC    Noroeste      203     1639       3   1845
14       Mexico          EM   Occidente      490     2725      11   3226

In [37]:
df1.set_index("Estado")

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

In [38]:
df1 = df1.set_index("Estado")

In [39]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

Una indexaci√≥n como esta tiene varios casos especiales. Como cortar o seleccionar datos con un array booleano:

In [40]:
df1[1:4]

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380

In [41]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

In [44]:
df1[df1['Mujeres']>100]

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

In [42]:
df1['Total']>1000

Estado
 Durango       False
 Guanajuato     True
 Guerrero       True
 Hidalgo       False
 Jalisco        True
 Mexico         True
Name: Total, dtype: bool

In [45]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

In [46]:
df1['Total'].sum()

11210

In [47]:
df['Total'].sum()

32223

ordenar

In [52]:
df1.sort_values(by=['Regiones'],ascending=False) #ascending=False

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Hidalgo             HG   Occidente       57      314       9    380
 Mexico              EM   Occidente      490     2725      11   3226
 Durango             DG    Noroeste       25      100       0    125
 Jalisco             JC    Noroeste      203     1639       3   1845
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378

¬øCuantos homicidios hubo en la regi√≥n Noroeste en 2022?

In [58]:
df.set_index("Estado")

                      Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Aguascalientes                AG     Noreste       13       73       1     87
 Baja California               BC    Noroeste      291     2279     111   2681
 Baja California Sur           BS    Noroeste       15       74       0     89
 Campeche                      CM     Sureste       13       95       2    110
 Coahuila de Zaragoza          CO     Noreste       26      143       0    169
 Colima                        CL   Occidente      110      755       2    867
 Chiapas                       CS     Sureste       65      432       2    499
 Chihuahua                     CH    Noroeste      237     1776       3   2016
 CDMX                          CX  Centro-Sur      107      635       0    742
 Durango                       DG    Noroeste       25      100       0    125
 Guanajuato                    GT     Noreste      568     3408     280   4256
 Guerrero                      GR  Centro-Sur      133     1226      19   1378
 Hidalgo                       HG   Occidente       57      314       9    380
 Jalisco                       JC    Noroeste      203     1639       3   1845
 Mexico                        EM   Occidente      490     2725      11   3226
 Michoacan                     MI   Occidente      241     2044       7   2292
 Morelos                       MO  Centro-Sur      109     1040       0   1149
 Nayarit                      NaN    Noroeste       16      169       1    186
 Nuevo Leon                    NL     Noreste      150     1240       1   1391
 Oaxaca                        OA     Sureste      114      626       0    740
 Puebla                        PU  Centro-Sur      123      923      15   1061
 Queretaro                     QT     Noreste       26      161       0    187
 Quintana Roo                  QR     Sureste       62      573       0    635
 San Luis Potosi               SL     Noreste       62      687       2    751
 Sinaloa                       SI    Noroeste       37      515       6    558
 Sonora                        SO    Noroeste      142     1521      60   1723
 Tabasco                       TB     Sureste       42      292       0    334
 Tamaulipas                    TM     Noreste       53      373      41    467
 Tlaxcala                      TL  Centro-Sur       14      138       0    152
 Veracruz                      VE     Sureste       86      555       0    641
 Yucatan                       YU     Sureste        7       47       0     54
 Zacatecas                     ZA     Noreste      163     1261       8   1432

In [63]:
noroeste=df.sort_values(by=['Regiones']).iloc[13:21]

In [64]:
noroeste['Total'].sum()

9223

In [65]:
df[df['Regiones']=='Noroeste'].Total.sum()

9223

### Eliminar entradas de un eje

In [66]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

Con objetos DataFrame, los valores de √≠ndice se pueden borrar de cualquier eje.

In [70]:
df1.drop(index=[' Durango',' Jalisco'])

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Mexico              EM   Occidente      490     2725      11   3226

In [69]:
df1.index

Index([' Durango', ' Guanajuato', ' Guerrero', ' Hidalgo', ' Jalisco',
       ' Mexico'],
      dtype='object', name='Estado')

Para eliminar etiquetas de las columnas, usamos sin embargo la palabra clave columns:

In [71]:
df1.drop('Abreviatura', axis=1)

               Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango       Noroeste       25      100       0    125
 Guanajuato     Noreste      568     3408     280   4256
 Guerrero    Centro-Sur      133     1226      19   1378
 Hidalgo      Occidente       57      314       9    380
 Jalisco       Noroeste      203     1639       3   1845
 Mexico       Occidente      490     2725      11   3226

El operador iloc que indexa exclusivamente con enteros

In [72]:
df1.iloc[[3,5]]

         Abreviatura   Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Hidalgo          HG  Occidente       57      314       9    380
 Mexico           EM  Occidente      490     2725      11   3226

In [74]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

el operador loc indexa exclusivamente con etiquetas

In [73]:
df1.loc[[' Hidalgo',' Mexico']]

         Abreviatura   Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Hidalgo          HG  Occidente       57      314       9    380
 Mexico           EM  Occidente      490     2725      11   3226

In [75]:
df1

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380
 Jalisco             JC    Noroeste      203     1639       3   1845
 Mexico              EM   Occidente      490     2725      11   3226

In [76]:
df1.loc[' Durango':' Hidalgo']

            Abreviatura    Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango             DG    Noroeste       25      100       0    125
 Guanajuato          GT     Noreste      568     3408     280   4256
 Guerrero            GR  Centro-Sur      133     1226      19   1378
 Hidalgo             HG   Occidente       57      314       9    380

Asignar valores utilizando estos m√©todos modifica la secci√≥n correspondiente de la serie:

In [77]:
df1.loc[' Durango':' Hidalgo']=0

In [78]:
df1

            Abreviatura   Regiones  Mujeres  Hombres  No_esp  Total
Estado
 Durango              0          0        0        0       0      0
 Guanajuato           0          0        0        0       0      0
 Guerrero             0          0        0        0       0      0
 Hidalgo              0          0        0        0       0      0
 Jalisco             JC   Noroeste      203     1639       3   1845
 Mexico              EM  Occidente      490     2725      11   3226

In [79]:
poblacion = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/poblacion.csv')

In [80]:
poblacion=poblacion.set_index("Estado")

In [81]:
poblacion

,Regiones,H_1990,M_1990,H_2000,M_2000,H_2010,M_2010,H_2020,M_2020
Estado,,,,,,,,,
Aguascalientes,Noreste,350218,369441,456533,487752,576638,608358,696683,728924
Baja California,Noroeste,832090,828765,1252581,1234786,1591610,1563460,1900589,1868431
Baja California Sur,Noroeste,161833,155931,216250,207791,325433,311593,405879,392568
Campeche,Sureste,268772,266413,344334,346355,407721,414720,456939,471424
Coahuila de Zaragoza,Noreste,979097,993243,1140195,1157875,1364197,1384194,1563669,1583102
Colima,Occidente,212543,215967,268192,274435,322790,327765,360622,370769
Chiapas,Sureste,1604773,1605723,1941880,1979012,2352807,2443773,2705947,2837881
Chihuahua,Noroeste,1213302,1228571,1519972,1532935,1692545,1713920,1853822,1888047
CDMX,Centro-Sur,3939911,4295833,4110485,4494754,4233783,4617297,4404927,4805017
Durango,Noroeste,664766,684612,709521,739140,803890,829044,904866,927784
Guanajuato,Noreste,1926735,2055858,2233315,2429717,2639425,2846947,2996454,3170480
Guerrero,Centro-Sur,1282220,1338417,1491287,1588362,1645561,1743207,1700612,1840073
Hidalgo,Occidente,929138,959228,1081993,1153598,1285222,1379796,1481379,1601462
Jalisco,Noroeste,2564892,2737797,3070241,3251761,3600641,3750041,4098455,4249696
Mexico,Occidente,4834549,4981246,6407213,6689473,7396986,7778876,8251295,8741123
Michoacan,Occidente,1718763,1829436,1911078,2074589,2102109,2248928,2306341,2442505
Morelos,Centro-Sur,583785,611274,750799,804497,858588,918639,950847,1020673
Nayarit,Noroeste,411057,413586,456105,464080,541007,543972,612278,623178
Nuevo Leon,Noreste,1542664,1556072,1907939,1926202,2320185,2333273,2890950,2893492
Oaxaca,Sureste,1477438,1542122,1657406,1781359,1819008,1982954,1974843,2157305
Puebla,Centro-Sur,2008531,2117570,2448801,2627885,2769855,3009974,3160115,3423163
Queretaro,Noreste,516168,535067,680966,723340,887188,940749,1156820,1211647
Quintana Roo,Sureste,254908,238369,448308,426655,673220,652358,936779,921206
San Luis Potosi,Noreste,987315,1015872,1120837,1178523,1260366,1325152,1372451,1449804
Sinaloa,Noroeste,1101621,1102433,1264143,1272701,1376201,1391560,1494815,1532128
Sonora,Noroeste,915088,908518,1110590,1106379,1339612,1322868,1472197,1472643
Tabasco,Sureste,749982,751762,934515,957314,1100758,1137845,1173671,1228927
Tamaulipas,Noreste,1111698,1137883,1359874,1393348,1616201,1652353,1736140,1791595
Tlaxcala,Centro-Sur,375130,386147,469948,492698,565775,604161,649894,693083
Veracruz,Sureste,3077427,3150812,3355164,3553811,3695679,3947515,3871774,4190805
Yucatan,Sureste,673892,689048,818205,840005,963333,992244,1140279,1180619
Zacatecas,Noreste,623663,652660,653583,700027,726897,763771,791058,831080

In [85]:
poblacion['1990'] = poblacion['H_1990']+poblacion['M_1990']
poblacion['2000'] = poblacion['H_2000']+poblacion['M_2000']
poblacion['2010'] = poblacion['H_2010']+poblacion['M_2010']
poblacion['2020'] = poblacion['H_2020']+poblacion['M_2020']

In [86]:
poblacion

,Regiones,H_1990,M_1990,H_2000,M_2000,H_2010,M_2010,H_2020,M_2020,1990,2000,2010,2020
Estado,,,,,,,,,,,,,
Aguascalientes,Noreste,350218,369441,456533,487752,576638,608358,696683,728924,719659,944285,1184996,1425607
Baja California,Noroeste,832090,828765,1252581,1234786,1591610,1563460,1900589,1868431,1660855,2487367,3155070,3769020
Baja California Sur,Noroeste,161833,155931,216250,207791,325433,311593,405879,392568,317764,424041,637026,798447
Campeche,Sureste,268772,266413,344334,346355,407721,414720,456939,471424,535185,690689,822441,928363
Coahuila de Zaragoza,Noreste,979097,993243,1140195,1157875,1364197,1384194,1563669,1583102,1972340,2298070,2748391,3146771
Colima,Occidente,212543,215967,268192,274435,322790,327765,360622,370769,428510,542627,650555,731391
Chiapas,Sureste,1604773,1605723,1941880,1979012,2352807,2443773,2705947,2837881,3210496,3920892,4796580,5543828
Chihuahua,Noroeste,1213302,1228571,1519972,1532935,1692545,1713920,1853822,1888047,2441873,3052907,3406465,3741869
CDMX,Centro-Sur,3939911,4295833,4110485,4494754,4233783,4617297,4404927,4805017,8235744,8605239,8851080,9209944
Durango,Noroeste,664766,684612,709521,739140,803890,829044,904866,927784,1349378,1448661,1632934,1832650
Guanajuato,Noreste,1926735,2055858,2233315,2429717,2639425,2846947,2996454,3170480,3982593,4663032,5486372,6166934
Guerrero,Centro-Sur,1282220,1338417,1491287,1588362,1645561,1743207,1700612,1840073,2620637,3079649,3388768,3540685
Hidalgo,Occidente,929138,959228,1081993,1153598,1285222,1379796,1481379,1601462,1888366,2235591,2665018,3082841
Jalisco,Noroeste,2564892,2737797,3070241,3251761,3600641,3750041,4098455,4249696,5302689,6322002,7350682,8348151
Mexico,Occidente,4834549,4981246,6407213,6689473,7396986,7778876,8251295,8741123,9815795,13096686,15175862,16992418
Michoacan,Occidente,1718763,1829436,1911078,2074589,2102109,2248928,2306341,2442505,3548199,3985667,4351037,4748846
Morelos,Centro-Sur,583785,611274,750799,804497,858588,918639,950847,1020673,1195059,1555296,1777227,1971520
Nayarit,Noroeste,411057,413586,456105,464080,541007,543972,612278,623178,824643,920185,1084979,1235456
Nuevo Leon,Noreste,1542664,1556072,1907939,1926202,2320185,2333273,2890950,2893492,3098736,3834141,4653458,5784442
Oaxaca,Sureste,1477438,1542122,1657406,1781359,1819008,1982954,1974843,2157305,3019560,3438765,3801962,4132148
Puebla,Centro-Sur,2008531,2117570,2448801,2627885,2769855,3009974,3160115,3423163,4126101,5076686,5779829,6583278
Queretaro,Noreste,516168,535067,680966,723340,887188,940749,1156820,1211647,1051235,1404306,1827937,2368467
Quintana Roo,Sureste,254908,238369,448308,426655,673220,652358,936779,921206,493277,874963,1325578,1857985
San Luis Potosi,Noreste,987315,1015872,1120837,1178523,1260366,1325152,1372451,1449804,2003187,2299360,2585518,2822255
Sinaloa,Noroeste,1101621,1102433,1264143,1272701,1376201,1391560,1494815,1532128,2204054,2536844,2767761,3026943
Sonora,Noroeste,915088,908518,1110590,1106379,1339612,1322868,1472197,1472643,1823606,2216969,2662480,2944840
Tabasco,Sureste,749982,751762,934515,957314,1100758,1137845,1173671,1228927,1501744,1891829,2238603,2402598
Tamaulipas,Noreste,1111698,1137883,1359874,1393348,1616201,1652353,1736140,1791595,2249581,2753222,3268554,3527735
Tlaxcala,Centro-Sur,375130,386147,469948,492698,565775,604161,649894,693083,761277,962646,1169936,1342977
Veracruz,Sureste,3077427,3150812,3355164,3553811,3695679,3947515,3871774,4190805,6228239,6908975,7643194,8062579
Yucatan,Sureste,673892,689048,818205,840005,963333,992244,1140279,1180619,1362940,1658210,1955577,2320898
Zacatecas,Noreste,623663,652660,653583,700027,726897,763771,791058,831080,1276323,1353610,1490668,1622138

In [ ]:
poblacion = poblacion.drop(['H_1990','M_1990','H_2000','M_2000','H_2010','M_2010','H_2020','M_2020','Regiones'],axis=1)

In [101]:
poblacion

                          1990      2000      2010      2020
Estado
 Aguascalientes         719659    944285   1184996   1425607
 Baja California       1660855   2487367   3155070   3769020
 Baja California Sur    317764    424041    637026    798447
 Campeche               535185    690689    822441    928363
 Coahuila de Zaragoza  1972340   2298070   2748391   3146771
 Colima                 428510    542627    650555    731391
 Chiapas               3210496   3920892   4796580   5543828
 Chihuahua             2441873   3052907   3406465   3741869
 CDMX                  8235744   8605239   8851080   9209944
 Durango               1349378   1448661   1632934   1832650
 Guanajuato            3982593   4663032   5486372   6166934
 Guerrero              2620637   3079649   3388768   3540685
 Hidalgo               1888366   2235591   2665018   3082841
 Jalisco               5302689   6322002   7350682   8348151
 Mexico                9815795  13096686  15175862  16992418
 Michoacan             3548199   3985667   4351037   4748846
 Morelos               1195059   1555296   1777227   1971520
 Nayarit                824643    920185   1084979   1235456
 Nuevo Leon            3098736   3834141   4653458   5784442
 Oaxaca                3019560   3438765   3801962   4132148
 Puebla                4126101   5076686   5779829   6583278
 Queretaro             1051235   1404306   1827937   2368467
 Quintana Roo           493277    874963   1325578   1857985
 San Luis Potosi       2003187   2299360   2585518   2822255
 Sinaloa               2204054   2536844   2767761   3026943
 Sonora                1823606   2216969   2662480   2944840
 Tabasco               1501744   1891829   2238603   2402598
 Tamaulipas            2249581   2753222   3268554   3527735
 Tlaxcala               761277    962646   1169936   1342977
 Veracruz              6228239   6908975   7643194   8062579
 Yucatan               1362940   1658210   1955577   2320898
 Zacatecas             1276323   1353610   1490668   1622138