In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/nacimientos_2021.csv',
                 usecols=['Estado','Regiones','Total'],index_col=['Estado']) 
df

                         Regiones   Total
Estado
 Aguascalientes           Noreste   23067
 Baja California         Noroeste   59015
 Baja California Sur     Noroeste   10242
 Campeche                 Sureste   14295
 Coahuila de Zaragoza     Noreste   47128
 Colima                 Occidente    9552
 Chiapas                  Sureste  146298
 Chihuahua               Noroeste   54971
 CDMX                  Centro-Sur   94339
 Durango                 Noroeste   31059
 Guanajuato               Noreste  107409
 Guerrero              Centro-Sur   65587
 Hidalgo                Occidente   39431
 Jalisco                 Noroeste  127453
 Mexico                 Occidente  219399
 Michoacan              Occidente   81215
 Morelos               Centro-Sur   25668
 Nayarit                 Noroeste   17342
 Nuevo Leon               Noreste   82114
 Oaxaca                   Sureste   72012
 Puebla                Centro-Sur  114803
 Queretaro                Noreste   32801
 Quintana Roo             Sureste   26116
 San Luis Potosi          Noreste   43068
 Sinaloa                 Noroeste   44433
 Sonora                  Noroeste   40561
 Tabasco                  Sureste   43129
 Tamaulipas               Noreste   49048
 Tlaxcala              Centro-Sur   20295
 Veracruz                 Sureste  105037
 Yucatan                  Sureste   28064
 Zacatecas                Noreste   28442

In [4]:
df1 = df.iloc[0:5]
df2 = df.iloc[15:20]
df3 = df.iloc[25:30]

De forma predeterminada, pandas.concat trabaja sobre axis='index'

In [6]:
pd.concat([df1,df2,df3])

                         Regiones   Total
Estado
 Aguascalientes           Noreste   23067
 Baja California         Noroeste   59015
 Baja California Sur     Noroeste   10242
 Campeche                 Sureste   14295
 Coahuila de Zaragoza     Noreste   47128
 Michoacan              Occidente   81215
 Morelos               Centro-Sur   25668
 Nayarit                 Noroeste   17342
 Nuevo Leon               Noreste   82114
 Oaxaca                   Sureste   72012
 Sonora                  Noroeste   40561
 Tabasco                  Sureste   43129
 Tamaulipas               Noreste   49048
 Tlaxcala              Centro-Sur   20295
 Veracruz                 Sureste  105037

In [7]:
pd.concat([df1,df2,df3], axis='columns')

,Regiones,Total,Regiones,Total,Regiones,Total
Estado,,,,,,
Aguascalientes,Noreste,23067.0,NaN,NaN,NaN,NaN
Baja California,Noroeste,59015.0,NaN,NaN,NaN,NaN
Baja California Sur,Noroeste,10242.0,NaN,NaN,NaN,NaN
Campeche,Sureste,14295.0,NaN,NaN,NaN,NaN
Coahuila de Zaragoza,Noreste,47128.0,NaN,NaN,NaN,NaN
Michoacan,NaN,NaN,Occidente,81215.0,NaN,NaN
Morelos,NaN,NaN,Centro-Sur,25668.0,NaN,NaN
Nayarit,NaN,NaN,Noroeste,17342.0,NaN,NaN
Nuevo Leon,NaN,NaN,Noreste,82114.0,NaN,NaN
Oaxaca,NaN,NaN,Sureste,72012.0,NaN,NaN
Sonora,NaN,NaN,NaN,NaN,Noroeste,40561.0
Tabasco,NaN,NaN,NaN,NaN,Sureste,43129.0
Tamaulipas,NaN,NaN,NaN,NaN,Noreste,49048.0
Tlaxcala,NaN,NaN,NaN,NaN,Centro-Sur,20295.0
Veracruz,NaN,NaN,NaN,NaN,Sureste,105037.0

In [8]:
df4 = pd.concat([df1,df3])
df4

                         Regiones   Total
Estado
 Aguascalientes           Noreste   23067
 Baja California         Noroeste   59015
 Baja California Sur     Noroeste   10242
 Campeche                 Sureste   14295
 Coahuila de Zaragoza     Noreste   47128
 Sonora                  Noroeste   40561
 Tabasco                  Sureste   43129
 Tamaulipas               Noreste   49048
 Tlaxcala              Centro-Sur   20295
 Veracruz                 Sureste  105037

In [9]:
pd.concat([df1, df4], axis='columns')

                       Regiones    Total    Regiones   Total
Estado
 Aguascalientes         Noreste  23067.0     Noreste   23067
 Baja California       Noroeste  59015.0    Noroeste   59015
 Baja California Sur   Noroeste  10242.0    Noroeste   10242
 Campeche               Sureste  14295.0     Sureste   14295
 Coahuila de Zaragoza   Noreste  47128.0     Noreste   47128
 Sonora                     NaN      NaN    Noroeste   40561
 Tabasco                    NaN      NaN     Sureste   43129
 Tamaulipas                 NaN      NaN     Noreste   49048
 Tlaxcala                   NaN      NaN  Centro-Sur   20295
 Veracruz                   NaN      NaN     Sureste  105037

In [10]:
pd.concat([df1, df4], axis='columns', join='inner')

                       Regiones  Total  Regiones  Total
Estado
 Aguascalientes         Noreste  23067   Noreste  23067
 Baja California       Noroeste  59015  Noroeste  59015
 Baja California Sur   Noroeste  10242  Noroeste  10242
 Campeche               Sureste  14295   Sureste  14295
 Coahuila de Zaragoza   Noreste  47128   Noreste  47128

Un posible problema es que las piezas concatenadas no se puedan identificar en el resultado. Supongamos entonces que queremos crear un índice jerárquico en el eje de concatenación. Para ello, empleamos el argumento keys:

In [11]:
result = pd.concat([df1, df2, df3], 
                   keys=['grupo 1', 'grupo 2', 'grupo 3'])

In [12]:
result

                                 Regiones   Total
        Estado
grupo 1  Aguascalientes           Noreste   23067
         Baja California         Noroeste   59015
         Baja California Sur     Noroeste   10242
         Campeche                 Sureste   14295
         Coahuila de Zaragoza     Noreste   47128
grupo 2  Michoacan              Occidente   81215
         Morelos               Centro-Sur   25668
         Nayarit                 Noroeste   17342
         Nuevo Leon               Noreste   82114
         Oaxaca                   Sureste   72012
grupo 3  Sonora                  Noroeste   40561
         Tabasco                  Sureste   43129
         Tamaulipas               Noreste   49048
         Tlaxcala              Centro-Sur   20295
         Veracruz                 Sureste  105037

In [13]:
result.unstack()

               Regiones
Estado   Aguascalientes  Baja California  Baja California Sur  Campeche
grupo 1         Noreste         Noroeste             Noroeste   Sureste  \
grupo 2             NaN              NaN                  NaN       NaN
grupo 3             NaN              NaN                  NaN       NaN


Estado   Coahuila de Zaragoza  Michoacan     Morelos   Nayarit  Nuevo Leon
grupo 1               Noreste        NaN         NaN       NaN         NaN  \
grupo 2                   NaN  Occidente  Centro-Sur  Noroeste     Noreste
grupo 3                   NaN        NaN         NaN       NaN         NaN

                  ...      Total
Estado    Oaxaca  ...  Michoacan  Morelos  Nayarit  Nuevo Leon   Oaxaca
grupo 1      NaN  ...        NaN      NaN      NaN         NaN      NaN  \
grupo 2  Sureste  ...    81215.0  25668.0  17342.0     82114.0  72012.0
grupo 3      NaN  ...        NaN      NaN      NaN         NaN      NaN


Estado    Sonora  Tabasco  Tamaulipas  Tlaxcala  Veracruz
grupo 1      NaN      NaN         NaN       NaN       NaN
grupo 2      NaN      NaN         NaN       NaN       NaN
grupo 3  40561.0  43129.0     49048.0   20295.0  105037.0

[3 rows x 30 columns]

En el caso de combinar con axis='columns', las keys se convierten en los encabezados de columna del dataframe:

In [14]:
pd.concat([df1, df2, df3], axis='columns', 
          keys=['grupo 1', 'grupo 2', 'grupo 3'])

                        grupo 1              grupo 2              grupo 3
                       Regiones    Total    Regiones    Total    Regiones
Estado
 Aguascalientes         Noreste  23067.0         NaN      NaN         NaN  \
 Baja California       Noroeste  59015.0         NaN      NaN         NaN
 Baja California Sur   Noroeste  10242.0         NaN      NaN         NaN
 Campeche               Sureste  14295.0         NaN      NaN         NaN
 Coahuila de Zaragoza   Noreste  47128.0         NaN      NaN         NaN
 Michoacan                  NaN      NaN   Occidente  81215.0         NaN
 Morelos                    NaN      NaN  Centro-Sur  25668.0         NaN
 Nayarit                    NaN      NaN    Noroeste  17342.0         NaN
 Nuevo Leon                 NaN      NaN     Noreste  82114.0         NaN
 Oaxaca                     NaN      NaN     Sureste  72012.0         NaN
 Sonora                     NaN      NaN         NaN      NaN    Noroeste
 Tabasco                    NaN      NaN         NaN      NaN     Sureste
 Tamaulipas                 NaN      NaN         NaN      NaN     Noreste
 Tlaxcala                   NaN      NaN         NaN      NaN  Centro-Sur
 Veracruz                   NaN      NaN         NaN      NaN     Sureste


                          Total
Estado
 Aguascalientes             NaN
 Baja California            NaN
 Baja California Sur        NaN
 Campeche                   NaN
 Coahuila de Zaragoza       NaN
 Michoacan                  NaN
 Morelos                    NaN
 Nayarit                    NaN
 Nuevo Leon                 NaN
 Oaxaca                     NaN
 Sonora                 40561.0
 Tabasco                43129.0
 Tamaulipas             49048.0
 Tlaxcala               20295.0
 Veracruz              105037.0

Si se pasa un diccionario de objetos en lugar de una lista, se emplearán las claves del diccionario para la opción keys:

In [16]:
pd.concat({'grupo1': df1, 'grupo3':df3},  axis='columns')

                         grupo1               grupo3
                       Regiones    Total    Regiones     Total
Estado
 Aguascalientes         Noreste  23067.0         NaN       NaN
 Baja California       Noroeste  59015.0         NaN       NaN
 Baja California Sur   Noroeste  10242.0         NaN       NaN
 Campeche               Sureste  14295.0         NaN       NaN
 Coahuila de Zaragoza   Noreste  47128.0         NaN       NaN
 Sonora                     NaN      NaN    Noroeste   40561.0
 Tabasco                    NaN      NaN     Sureste   43129.0
 Tamaulipas                 NaN      NaN     Noreste   49048.0
 Tlaxcala                   NaN      NaN  Centro-Sur   20295.0
 Veracruz                   NaN      NaN     Sureste  105037.0

Hay argumentos adicionales que gestionan el modo en que se crea el índice jerárquico (véase la tabla 8.3). Por ejemplo, podemos asignar nombre a los niveles de eje creados con el argumento names:

In [17]:
pd.concat([df1, df2, df3], axis='columns', 
          keys=['grupo 1', 'grupo 2', 'grupo 3'],
         names=['nivel1','nivel2'])

nivel1                  grupo 1              grupo 2              grupo 3
nivel2                 Regiones    Total    Regiones    Total    Regiones
Estado
 Aguascalientes         Noreste  23067.0         NaN      NaN         NaN  \
 Baja California       Noroeste  59015.0         NaN      NaN         NaN
 Baja California Sur   Noroeste  10242.0         NaN      NaN         NaN
 Campeche               Sureste  14295.0         NaN      NaN         NaN
 Coahuila de Zaragoza   Noreste  47128.0         NaN      NaN         NaN
 Michoacan                  NaN      NaN   Occidente  81215.0         NaN
 Morelos                    NaN      NaN  Centro-Sur  25668.0         NaN
 Nayarit                    NaN      NaN    Noroeste  17342.0         NaN
 Nuevo Leon                 NaN      NaN     Noreste  82114.0         NaN
 Oaxaca                     NaN      NaN     Sureste  72012.0         NaN
 Sonora                     NaN      NaN         NaN      NaN    Noroeste
 Tabasco                    NaN      NaN         NaN      NaN     Sureste
 Tamaulipas                 NaN      NaN         NaN      NaN     Noreste
 Tlaxcala                   NaN      NaN         NaN      NaN  Centro-Sur
 Veracruz                   NaN      NaN         NaN      NaN     Sureste

nivel1
nivel2                    Total
Estado
 Aguascalientes             NaN
 Baja California            NaN
 Baja California Sur        NaN
 Campeche                   NaN
 Coahuila de Zaragoza       NaN
 Michoacan                  NaN
 Morelos                    NaN
 Nayarit                    NaN
 Nuevo Leon                 NaN
 Oaxaca                     NaN
 Sonora                 40561.0
 Tabasco                43129.0
 Tamaulipas             49048.0
 Tlaxcala               20295.0
 Veracruz              105037.0

se puede descarta los índices de cada dataframe y concatenar los datos solo de las columnas asignando un nuevo índice por defecto:

In [18]:
pd.concat([df1,df2], ignore_index=True)

     Regiones  Total
0     Noreste  23067
1    Noroeste  59015
2    Noroeste  10242
3     Sureste  14295
4     Noreste  47128
5   Occidente  81215
6  Centro-Sur  25668
7    Noroeste  17342
8     Noreste  82114
9     Sureste  72012

In [19]:
df2017 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2017.csv',usecols=['Estado','Total'],index_col=['Estado'],nrows=10) 
df2018 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2018.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado'],nrows=10)

In [20]:
df2017

                       Total
Estado
 Aguascalientes           84
 Baja California        2169
 Baja California Sur     751
 Campeche                 78
 Coahuila de Zaragoza    275
 Colima                  867
 Chiapas                 591
 Chihuahua              2248
 CDMX                   1320
 Durango                 200

In [21]:
df2018

                         Regiones  Total
Estado
 Aguascalientes           Noreste     82
 Baja California         Noroeste   2912
 Baja California Sur     Noroeste    200
 Campeche                 Sureste     79
 Coahuila de Zaragoza     Noreste    244
 Colima                 Occidente    747
 Chiapas                  Sureste    662
 Chihuahua               Noroeste   2978
 CDMX                  Centro-Sur   1469
 Durango                 Noroeste    178

In [22]:
df2017 = pd.concat([df2018['Regiones'],df2017],axis='columns')
df2017

                         Regiones  Total
Estado
 Aguascalientes           Noreste     84
 Baja California         Noroeste   2169
 Baja California Sur     Noroeste    751
 Campeche                 Sureste     78
 Coahuila de Zaragoza     Noreste    275
 Colima                 Occidente    867
 Chiapas                  Sureste    591
 Chihuahua               Noroeste   2248
 CDMX                  Centro-Sur   1320
 Durango                 Noroeste    200

In [24]:
df2017 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2017.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado']) 
df2018 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2018.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado'])
df2019 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2019.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado']) 
df2020 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2020.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado']) 
df2021 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2021.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado']) 
df2022 = pd.read_csv('https://raw.githubusercontent.com/jamc88/TSMCI-Analisis-de-datos-con-Python/main/Datos/homicidios_2022.csv',usecols=['Estado','Regiones','Total'],index_col=['Estado'])

In [25]:
homi = pd.concat([df2017['Total'],df2018['Total'],df2019['Total'],df2020['Total'],df2021['Total'], df2022['Total']], 
          axis='columns',
          keys=['2017', '2018', '2019', '2020', '2021', '2022'])

In [26]:
homi

                       2017  2018  2019  2020  2021  2022
Estado
 Aguascalientes          84    82   120    93   103    87
 Baja California       2169  2912  2823  2967  3248  2681
 Baja California Sur    751   200   104    78    77    89
 Campeche                78    79    83    76   107   110
 Coahuila de Zaragoza   275   244   306   242   171   169
 Colima                 867   747   830   694   607   867
 Chiapas                591   662   619   536   568   499
 Chihuahua             2248  2978  2936  3468  2739  2016
 CDMX                  1320  1469  1301  1340  1076   742
 Durango                200   178   175   168   143   125
 Guanajuato            2285  3517  4019  5370  4333  4256
 Guerrero              2637  2367  1937  1507  1468  1378
 Hidalgo                314   340   479   366   287   380
 Jalisco               1586  2928  2525  2241  2274  1845
 Mexico                3076  3170  3242  3089  3119  3226
 Michoacan             1732  2076  2462  2400  2696  2292
 Morelos                654   823  1059   988  1199  1149
 Nayarit                474   397   218   185   222   186
 Nuevo Leon             664   850   987   919  1070  1391
 Oaxaca                1018  1128  1164   875   786   740
 Puebla                1083  1249  1274  1031   847  1061
 Queretaro              218   229   224   227   231   187
 Quintana Roo           455   841   750   628   677   635
 San Luis Potosi        507   563   522   803   797   751
 Sinaloa               1640  1214  1133   866   635   558
 Sonora                 761   936  1384  1582  2089  1723
 Tabasco                450   569   691   585   453   334
 Tamaulipas            1204  1437   883   800   739   467
 Tlaxcala               126   152   189   154   160   152
 Veracruz              1851  1516  1493  1179   948   641
 Yucatan                 52    59    46    72    55    54
 Zacatecas              709   773   683  1244  1776  1432

In [27]:
reg = pd.DataFrame(df2017['Regiones'])

In [28]:
homi = pd.concat([reg,homi],axis='columns')
homi

                         Regiones  2017  2018  2019  2020  2021  2022
Estado
 Aguascalientes           Noreste    84    82   120    93   103    87
 Baja California         Noroeste  2169  2912  2823  2967  3248  2681
 Baja California Sur     Noroeste   751   200   104    78    77    89
 Campeche                 Sureste    78    79    83    76   107   110
 Coahuila de Zaragoza     Noreste   275   244   306   242   171   169
 Colima                 Occidente   867   747   830   694   607   867
 Chiapas                  Sureste   591   662   619   536   568   499
 Chihuahua               Noroeste  2248  2978  2936  3468  2739  2016
 CDMX                  Centro-Sur  1320  1469  1301  1340  1076   742
 Durango                 Noroeste   200   178   175   168   143   125
 Guanajuato               Noreste  2285  3517  4019  5370  4333  4256
 Guerrero              Centro-Sur  2637  2367  1937  1507  1468  1378
 Hidalgo                Occidente   314   340   479   366   287   380
 Jalisco                 Noroeste  1586  2928  2525  2241  2274  1845
 Mexico                 Occidente  3076  3170  3242  3089  3119  3226
 Michoacan              Occidente  1732  2076  2462  2400  2696  2292
 Morelos               Centro-Sur   654   823  1059   988  1199  1149
 Nayarit                 Noroeste   474   397   218   185   222   186
 Nuevo Leon               Noreste   664   850   987   919  1070  1391
 Oaxaca                   Sureste  1018  1128  1164   875   786   740
 Puebla                Centro-Sur  1083  1249  1274  1031   847  1061
 Queretaro                Noreste   218   229   224   227   231   187
 Quintana Roo             Sureste   455   841   750   628   677   635
 San Luis Potosi          Noreste   507   563   522   803   797   751
 Sinaloa                 Noroeste  1640  1214  1133   866   635   558
 Sonora                  Noroeste   761   936  1384  1582  2089  1723
 Tabasco                  Sureste   450   569   691   585   453   334
 Tamaulipas               Noreste  1204  1437   883   800   739   467
 Tlaxcala              Centro-Sur   126   152   189   154   160   152
 Veracruz                 Sureste  1851  1516  1493  1179   948   641
 Yucatan                  Sureste    52    59    46    72    55    54
 Zacatecas                Noreste   709   773   683  1244  1776  1432

In [29]:
homi.groupby('Regiones').sum()

            2017   2018   2019   2020   2021  2022
Regiones
Centro-Sur  5820   6060   5760   5020   4750  4482
Noreste     5946   7695   7744   9698   9220  8740
Noroeste    9829  11743  11298  11555  11427  9223
Occidente   5989   6333   7013   6549   6709  6765
Sureste     4495   4854   4846   3951   3594  3013

In [34]:
df = pd.read_excel('INEGI_exporta_11_1_2024_14_52_16.xls',skiprows=5)
df

,Unnamed: 0,Total,Aguascalientes,Baja California,Baja California Sur,Campeche,Coahuila de Zaragoza,Colima,Chiapas,Chihuahua,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
0,Total,"33,287",88.0,"2,925",90.0,110.0,170.0,887.0,503.0,"2,157",...,647.0,759.0,587.0,"1,759",354.0,482.0,155.0,787.0,55.0,"1,459"
1,Hombre,"28,745",73.0,"2,475",75.0,95.0,144.0,774.0,436.0,"1,911",...,585.0,694.0,542.0,"1,550",310.0,385.0,140.0,680.0,48.0,"1,284"
2,Mujer,"3,928",14.0,315,15.0,13.0,26.0,111.0,65.0,241,...,62.0,63.0,39.0,148,44.0,56.0,15.0,107.0,7.0,167
3,No especificado,614,1.0,135,NaN,2.0,NaN,2.0,2.0,5,...,NaN,2.0,6.0,61,NaN,41.0,NaN,NaN,NaN,8
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FUENTE: INEGI. Estadísticas de mortalidad.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df.head(4)

In [36]:
df

,Unnamed: 0,Total,Aguascalientes,Baja California,Baja California Sur,Campeche,Coahuila de Zaragoza,Colima,Chiapas,Chihuahua,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
0,Total,"33,287",88.0,"2,925",90.0,110.0,170.0,887.0,503.0,"2,157",...,647.0,759.0,587.0,"1,759",354.0,482.0,155.0,787.0,55.0,"1,459"
1,Hombre,"28,745",73.0,"2,475",75.0,95.0,144.0,774.0,436.0,"1,911",...,585.0,694.0,542.0,"1,550",310.0,385.0,140.0,680.0,48.0,"1,284"
2,Mujer,"3,928",14.0,315,15.0,13.0,26.0,111.0,65.0,241,...,62.0,63.0,39.0,148,44.0,56.0,15.0,107.0,7.0,167
3,No especificado,614,1.0,135,NaN,2.0,NaN,2.0,2.0,5,...,NaN,2.0,6.0,61,NaN,41.0,NaN,NaN,NaN,8

In [37]:
df = df.T
df

                                      0       1      2                3
Unnamed: 0                        Total  Hombre  Mujer  No especificado
Total                            33,287  28,745  3,928              614
Aguascalientes                     88.0    73.0   14.0              1.0
Baja California                   2,925   2,475    315              135
Baja California Sur                90.0    75.0   15.0              NaN
Campeche                          110.0    95.0   13.0              2.0
Coahuila de Zaragoza              170.0   144.0   26.0              NaN
Colima                            887.0   774.0  111.0              2.0
Chiapas                           503.0   436.0   65.0              2.0
Chihuahua                         2,157   1,911    241                5
Ciudad de México                  747.0   640.0  107.0              NaN
Durango                           127.0   102.0   25.0              NaN
Guanajuato                        4,329   3,468    581              280
Guerrero                          1,404   1,247    137               20
Hidalgo                           390.0   324.0   57.0              9.0
Jalisco                           1,863   1,653    207                3
México                            3,257   2,751    495               11
Michoacán de Ocampo               2,329   2,069    253                7
Morelos                           1,175   1,061    114              NaN
Nayarit                           196.0   179.0   16.0              1.0
Nuevo León                        1,410   1,256    153                1
Oaxaca                            805.0   680.0  124.0              1.0
Puebla                            1,089     948    125               16
Querétaro                         192.0   166.0   26.0              NaN
Quintana Roo                      647.0   585.0   62.0              NaN
San Luis Potosí                   759.0   694.0   63.0              2.0
Sinaloa                           587.0   542.0   39.0              6.0
Sonora                            1,759   1,550    148               61
Tabasco                           354.0   310.0   44.0              NaN
Tamaulipas                        482.0   385.0   56.0             41.0
Tlaxcala                          155.0   140.0   15.0              NaN
Veracruz de Ignacio de la Llave   787.0   680.0  107.0              NaN
Yucatán                            55.0    48.0    7.0              NaN
Zacatecas                         1,459   1,284    167                8

In [38]:
df.drop(['Unnamed: 0','Total'], axis=0, inplace=True)

In [39]:
df.columns=['Total', 'Hombre', 'Mujer', 'No especificado']

In [40]:
df

                                 Total Hombre  Mujer No especificado
Aguascalientes                    88.0   73.0   14.0             1.0
Baja California                  2,925  2,475    315             135
Baja California Sur               90.0   75.0   15.0             NaN
Campeche                         110.0   95.0   13.0             2.0
Coahuila de Zaragoza             170.0  144.0   26.0             NaN
Colima                           887.0  774.0  111.0             2.0
Chiapas                          503.0  436.0   65.0             2.0
Chihuahua                        2,157  1,911    241               5
Ciudad de México                 747.0  640.0  107.0             NaN
Durango                          127.0  102.0   25.0             NaN
Guanajuato                       4,329  3,468    581             280
Guerrero                         1,404  1,247    137              20
Hidalgo                          390.0  324.0   57.0             9.0
Jalisco                          1,863  1,653    207               3
México                           3,257  2,751    495              11
Michoacán de Ocampo              2,329  2,069    253               7
Morelos                          1,175  1,061    114             NaN
Nayarit                          196.0  179.0   16.0             1.0
Nuevo León                       1,410  1,256    153               1
Oaxaca                           805.0  680.0  124.0             1.0
Puebla                           1,089    948    125              16
Querétaro                        192.0  166.0   26.0             NaN
Quintana Roo                     647.0  585.0   62.0             NaN
San Luis Potosí                  759.0  694.0   63.0             2.0
Sinaloa                          587.0  542.0   39.0             6.0
Sonora                           1,759  1,550    148              61
Tabasco                          354.0  310.0   44.0             NaN
Tamaulipas                       482.0  385.0   56.0            41.0
Tlaxcala                         155.0  140.0   15.0             NaN
Veracruz de Ignacio de la Llave  787.0  680.0  107.0             NaN
Yucatán                           55.0   48.0    7.0             NaN
Zacatecas                        1,459  1,284    167               8

In [41]:
df = df.fillna({'No especificado':0})

In [42]:
df

                                 Total Hombre  Mujer No especificado
Aguascalientes                    88.0   73.0   14.0             1.0
Baja California                  2,925  2,475    315             135
Baja California Sur               90.0   75.0   15.0               0
Campeche                         110.0   95.0   13.0             2.0
Coahuila de Zaragoza             170.0  144.0   26.0               0
Colima                           887.0  774.0  111.0             2.0
Chiapas                          503.0  436.0   65.0             2.0
Chihuahua                        2,157  1,911    241               5
Ciudad de México                 747.0  640.0  107.0               0
Durango                          127.0  102.0   25.0               0
Guanajuato                       4,329  3,468    581             280
Guerrero                         1,404  1,247    137              20
Hidalgo                          390.0  324.0   57.0             9.0
Jalisco                          1,863  1,653    207               3
México                           3,257  2,751    495              11
Michoacán de Ocampo              2,329  2,069    253               7
Morelos                          1,175  1,061    114               0
Nayarit                          196.0  179.0   16.0             1.0
Nuevo León                       1,410  1,256    153               1
Oaxaca                           805.0  680.0  124.0             1.0
Puebla                           1,089    948    125              16
Querétaro                        192.0  166.0   26.0               0
Quintana Roo                     647.0  585.0   62.0               0
San Luis Potosí                  759.0  694.0   63.0             2.0
Sinaloa                          587.0  542.0   39.0             6.0
Sonora                           1,759  1,550    148              61
Tabasco                          354.0  310.0   44.0               0
Tamaulipas                       482.0  385.0   56.0            41.0
Tlaxcala                         155.0  140.0   15.0               0
Veracruz de Ignacio de la Llave  787.0  680.0  107.0               0
Yucatán                           55.0   48.0    7.0               0
Zacatecas                        1,459  1,284    167               8

### Combinar datos con superposición

Hay otra situación de combinación de datos que no se puede expresar como una operación de fusión o concatenación. Es posible que tengamos dos conjuntos de datos con índices que se superponen totalmente o en parte.

In [45]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
                    'b': [np.nan, 2., np.nan, 6.],
                    'c': range(2, 18, 4)})

df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                    'b': [np.nan, 3., 4., 6., 8.]})

In [49]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [38]:
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                    'b': [np.nan, 3., 4., 6., 8.]})

In [39]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

Si se desea alinear valores por índice, se utiliza el método **combine_first**, este método lo que hace es
«parchear» los datos que faltan en el objeto de llamada con datos del objeto que se pase:

In [51]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

### Remodelación y Transposición

La indexación jerárquica ofrece una forma coherente de reordenar datos en un dataframe. Tenemos dos acciones principales:
* stack: Cambia o transpone las columnas de los datos por las filas.
* unstack: Cambia o transpone las filas por las columnas.

In [56]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)), 
                    index=pd.Index(['Colima', 'Durango'], 
                                   name='Estado'),
                    columns=pd.Index(['Uno', 'Dos', 'Tres'],
                    name='Número'))

In [57]:
data

Número   Uno  Dos  Tres
Estado
Colima     0    1     2
Durango    3    4     5

Utilizando el método stack con estos datos cambiamos las columnas por las filas, produciendo una serie:

In [58]:
result = data.stack()

In [59]:
result

Estado   Número
Colima   Uno       0
         Dos       1
         Tres      2
Durango  Uno       3
         Dos       4
         Tres      5
dtype: int64

A partir de una serie indexada jerárquicamente, se pueden reordenar los datos de nuevo en un dataframe con unstack:

In [60]:
result.unstack(level=0)

Estado  Colima  Durango
Número
Uno          0        3
Dos          1        4
Tres         2        5

In [61]:
result.unstack(level='Estado')

Estado  Colima  Durango
Número
Uno          0        3
Dos          1        4
Tres         2        5